@use '../../styles/settings/variables';
@use '../../styles/settings/mixins';

.beyond-dev {
  padding: 48px 0;

  &__title {
    @include mixins.typography(title2, bold);
    text-align: center;
    margin-bottom: 24px;
  }

  &__content {
    @include mixins.breakpoint(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__paragraph {
    @include mixins.typography();
    @extend %double-line-break;

    @include mixins.breakpoint(md) {
      max-width: 50%;
    }
  }
}
