@use '../../styles/settings/variables';
@use '../../styles/settings/mixins';

.intro-banner {
  background-image:  linear-gradient(variables.$blue-violet-color-wheel 1px, transparent 1px), linear-gradient(to right, variables.$blue-violet-color-wheel 1px, variables.$blue-violet-color-wheel-2 1px);
  background-size: 20px 20px;
  box-shadow: 0 0 15px variables.$purple-2;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;

    @include mixins.breakpoint(md) {
      flex-direction: row;
      justify-content: space-around;
      min-height: 350px;
    }

    @include mixins.breakpoint(lg) {
      min-height: 650px;
    }
  }

  &__title,
  &__subtitle {
    text-align: center;

    @include mixins.breakpoint(md) {
      text-align: left;
    }
  }

  &__subtitle {
    @include mixins.typography(title2);
    color: variables.$spanish-gray;
  }
}