@use '../../styles/settings/variables';
@use '../../styles/settings/mixins';

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.intro-banner {
  box-shadow: 0 0 15px variables.$purple-2;
  border-bottom: 2px solid variables.$violet-ryb;
  background-image:
    radial-gradient(circle at bottom center, variables.$purpureus, variables.$blue-violet-color-wheel-2),
    repeating-radial-gradient(circle at center center, variables.$purpureus, variables.$purpureus, 10px, transparent 20px, transparent 10px);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }

    @include mixins.breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
      min-height: 450px;
    }

    @include mixins.breakpoint(lg) {
      min-height: 650px;
    }
  }

  &__content-holder {
    flex-basis: 100%;

    @include mixins.breakpoint(md) {
      flex-basis: 50%;
    }

    @include mixins.breakpoint(lg) {
      flex-basis: 60%;
    }

    @include mixins.breakpoint(xl) {
      flex-basis: 50%;
    }

    @include mixins.breakpoint(wd) {
      flex-basis: 60%;
    }
  }

  &__image-holder {
    flex-basis: 100%;
    min-width: 300px;

    @include mixins.breakpoint(md) {
      flex-basis: 35%;
    }

    img {
      @include mixins.breakpoint(md) {
        animation: float 6s ease-in-out infinite;
      }
    }
  }

  &__title,
  &__subtitle {
    text-align: center;
    text-shadow: 5px 5px 10px variables.$blue-violet-color-wheel-2;

    @include mixins.breakpoint(md) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include mixins.breakpoint(md) {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @include mixins.typography(title3);
  }

  &__astronaut {
    width: 350px;
    height: auto;
  }
}
