@use './variables';

@mixin font-face($name, $font-files, $weight: false, $style: false) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url($font-files + ".woff2") format('woff2'),
        url($font-files + ".woff") format('woff'),
        url($font-files + ".ttf") format('truetype');
  }
}

@function get-breakpoint($name) {
  $min: map-get(variables.$breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin breakpoint($nameMin, $nameMax:"") {
  $min: get-breakpoint($nameMin);
  $max: get-breakpoint($nameMax);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  } @else if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function strip-unit($int) {
  @return $int / ($int * 0 + 1);
}

@function rem($int) {
  $size: strip-unit($int);
  @return $size / 16 * 1rem;
}

@mixin typography($type: body, $weight: false) {
  $typoBreakpoints: map-get(variables.$typographies, $type);

  @if $weight {
    font-weight: $weight;
  }
  @each $breakpoint, $fontSize in $typoBreakpoints {
    @include breakpoint($breakpoint) {
      font-size: rem($fontSize);
    }
  }
}

%double-line-break {
  br {
    content: '';
    display: block;
    margin-bottom: 1em;
  }
}
