@use "../../styles/mixins";

.icon-list {
  padding: 58px 0 42px;

  & + & {
    border-top: 2px solid var(--purple2);
  }

  @include mixins.breakpoint(lg) {
    display: flex;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    @include mixins.typography('title3');

    @include mixins.breakpoint(lg) {
      text-align: left;
      flex-basis: 300px;
    }

    @include mixins.breakpoint(xl) {
      flex-basis: 350px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include mixins.breakpoint(md) {
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__list-item {
    text-align: center;
    flex-basis: calc(50% - 16px);
    margin-bottom: 16px;

    @include mixins.breakpoint(md) {
      flex-basis: calc(25% - 16px);
    }
  }

  &__icon-holder {
    margin: 0 auto;
    max-width: 80px;

    @include mixins.breakpoint(md) {
      max-width: 120px;
    }

    @include mixins.breakpoint(lg) {
      max-width: 150px;
    }
  }

  &__icon-title {
    display: block;
    @include mixins.typography('body');
  }
}